<%= render 'shared/page_title', title: "#{@chef.chefname} profile" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= gravatar_for @chef, size: 200 %>
    <hr />
  </div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offet-4 center">
    <h3><em>Recipes:</em></h3>
    <%= will_paginate @recipes %>
  </div>
</div>
<% @recipes.each do |recipe| %>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 well">
      <%= render 'recipes/recipe', :recipe => recipe %>
    </div>
  </div>
<% end %>
