@import "bootstrap-sprockets";
@import "bootstrap";

.center {
  text-align: center;
}

.left {
    test-align: left;
    letter-sacing: 1.5px;
}

.chef_info {
  margin-top: 10px;
}

.gravatar {
  border-radius: 5px;
}

span.picture {
  margin-top: 10px
  unput {
    border: 0;
  };
}

.show_recipe {
  margin: 10px 10px 10px 10px ;
}